* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.shop {
  text-decoration: none;
  color: inherit;
}
body {
  background: black;
  color: white;
  margin: 0;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
.notification {
  background: red;
  color: white;
  padding: 10px 0 10px;
  text-align: center;
}

.logo {
  height: 40px;
}
.logo-container {
  width: 23vw;
}
nav {
  display: flex;

  justify-content: space-between;
  padding: 20px 60px 20px 60px;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
nav ul li img {
  height: 25px;
  width: 25px;
}
nav ul li input {
  border-radius: 15px;
  height: 25px;
}
.slider {
  /* padding: 20px; */
}

.slider img {
  width: 100vw;
  position: relative;
}

.slider-button {
  height: 25px;
  width: 25px;
  top: 50%;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
}
.slider-button-prev {
  left: 1rem;
}
.slider-button-next {
  right: 1rem;
}
.shop-or-slide {
  margin-bottom: 1em;
}
.best-sellers h1 {
  text-align: center;
}
.cards-container {
  margin: 1em 0em 1em 0em;
  display: flex;
  justify-content: space-around;
}

.card {
  border-radius: 0.8em;
  margin: 1em;
  color: black;
  display: flex;
  flex-direction: column;
  background: #eae4e4;
  width: 20vw;
}
.product-image {
  max-width: 100%;
  max-height: 100%;
}
.product-image {
}

.product-info {
  border-radius: 0.8em;

  background: white;
  margin: 0em 0.5em 0.5em 0.5em;
  padding: 0.7em;
}
.add-to-cart-btn button {
  border-radius: 0.5em;

  border: none;
  background: red;
  color: white;
  margin: 0.7em 0.7em 0em 0.7em;
  padding: 0.5em;
  width: 90%;
  cursor: pointer;
}
.video-cards-container {
  display: flex;
  margin: 1em 0em 1em 0em;
}
.video-card {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin: 1em;
  background: white;
  color: black;
  border-radius: 0.3em;
}
.video-card video {
  width: 100%;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;

  overflow: hidden;
}
.video-product-info {
  margin: 1.7em 0.5em 0.5em 0.3em;
  padding: 0.7em;
}
.icon-image {
  align-self: center;
  margin-top: -10%;
  margin-bottom: -10%;
  z-index: 1;
  border-radius: 10px;
  background: white;
  width: 45px;
  height: 45px;
  /* box-shadow: */
}
/* .cards-list {
  /* max-width: 100%; */
/* padding: 70px; */
/* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */
.best-sellers {
  /* margin: 20px;
  text-align: center; */
}
.cards-list {
  /* margin: 15px 0px 60px 0px;
  display: flex;
  overflow-x: scroll; */
}
.cards-list::-webkit-scrollbar {
  /* display: none; */
}
.card {
  /* display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 415px;
  background: rgb(204, 195, 195);
  color: black;
  border-radius: 10px;
  margin: 10px; */
}
.card img {
  /* width: 100%;
  height: 250px; */
}
.product-info-holder {
  /* width: 100%; */
  /* height: 100%;
  padding: 5px 12px 10px 12px;
  margin: 0px 6px 6px 6px;
  background: white;
  border-radius: 10px; */
}
.product-info-holder button {
  /* width: 100%;
  height: 50px;
  background: red;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 0px 0px;
  border: none; */
}
.card header {
  /* text-align: left; */
}
.reviews {
  /* text-align: left; */
  /* margin: 5px 0px 0px; */

  /* padding: 10px 10px 10px 0px; */
}
.price-current {
  /* margin: 5px 0px 0px; */

  /* text-align: left; */
  /* color: red; */
}

.price-original {
  /* color: rgb(97, 81, 81); */
}
/* .card {
  background: rgb(224, 215, 215);
  display: flex;
  flex-direction: column;
  height: 415px;
  width: 330px;
  /* align-items: center; */
/* border-radius: 16px; */
/* margin: 20px; */
/* max-width: 100%; */

/* border: green solid; */
/* overflow-x: scroll */
/* padding: 1rem; */
/* } */
/* .card img {
  width: 330px;
  height: 245px;
} */
/* .product-info-container {
  margin: 10px;
} */
/* .product-info {
  height: 170px;
  width: 280px;
  /* padding: 10px; */
/* padding: 10px; */
/* margin-bottom: 10px; */
/* background: white;
  border-radius: 16px;
  color: black;
  display: flex;
  flex-direction: column; */
/* align-items: center; */
/* } */
/* .card header {
  text-align: left;
}
.reviews {
  text-align: left;
  padding: 10px 10px 10px 0px;
} */
/* .price-current {
  /* text-align: left; */
/* color: red; */

.price-original {
  /* color: rgb(97, 81, 81); */
}
.video-cards-list {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  overflow-x: scroll;
}
.video-cards-list::-webkit-scrollbar {
  display: none;
}
.video-card-element {
  /* border: solid red; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 530px;
  margin: 10px;
}
.video-element {
  /* width: 100%;
  height: auto; */
}
/* .video-info-holder { */
/* padding: 30px;
  text-align: center;
  background: white;
  color: black;
  width: 240px;
  height: 132px;
} */
